@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

// app global css in SCSS form
@font-face {
  font-family: 'Inter var';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url("./fonts/inter/Inter-roman.var.woff2?v=3.18") format("woff2");
}

// html,
// body {
//   font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
//   -webkit-font-smoothing: antialiased !important;
//   -moz-osx-font-smoothing: grayscale !important;
//   letter-spacing: 0.05em !important;
//   color: #1E293B;
// }

html::-webkit-scrollbar{
  width: 0px;
}
