@font-face {
  font-family: 'CircularStd';
  src: url('../assets/fonts/CircularStd-Medium.woff2') format('woff2'),
    url('/fonts/CircularStd-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'CircularStd';
  src: url('../assets/fonts/CircularStd-Bold.woff2') format('woff2'),
    url('../assets/fonts/CircularStd-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'CircularStd';
  src: url('../assets/fonts/CircularStd-Black.woff2') format('woff2'),
    url('../assets/fonts/CircularStd-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
}

@font-face {
  font-family: 'CircularStd';
  src: url('../assets/fonts/CircularStd-Book.woff2') format('woff2'),
    url('../assets/fonts/CircularStd-Book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+000-5FF;
}
